html {
    background-color: papayawhip;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 95%;
    margin:auto;
    /* background-image: url("/img/aditya-chinchure-bpWkOlziTgw-unsplash\ \(1\).jpg"); */
}

header {
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px;
    background-color: gold;
    position: sticky;
    z-index: 100;
    border: 2px solid black;
    border-radius: 15px;
}

.header-div1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.header-a {
    font-weight: 700;
}
.header-a:hover,
.header-a:active {
    color: grey;
}

.header-div2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-top: 5px;
    margin-bottom: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 5px;
    margin: 0, 5px;
}

.home {
    font-size: 42px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900px;
    color: black;
}

.searchbar {
    width: 90%;
    min-width: 60%;
    height: auto;
    z-index: 100;
    position: fixed;
}

.news {
    color: whitesmoke;
    min-height: 100vh;
}

.breakingnews {
    display: flex;
    flex-direction: row;
}

.firstnews{
    border: 2px solid goldenrod;
    margin: 20px;
    width: 350px;
    height: 350px;
    background: white;
}

/* recents-------------------*/

#recents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid #333;

}

.recent-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.0rem;
    font-weight: 600;
    font-family: Calibri;
}
.recent-h2 span{
    color: blueviolet;
}
.recent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1 );

}



.img {
    width: 100%;
    height: 100%;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-text {
    padding: 0;
    display: flex;
    flex-direction: column;
}
.image-test span{
    color: darkorange;
  }
.recent-box{
    width: 250px; 
    background-color:whitesmoke ;
    border: 1px solid white;
    margin: 20px;
    border-radius: 30px;
}
.recent-img{
    width: 100%;
    height: 200px; 
    
}
.recent-img img{
    width:100% ;
    height:100% ;
    object-fit:cover ;
    object-position: center;
    border-radius: 25px;
}
.recent-text{
    padding: 30px;
    display: flex;
    flex-direction:column;
    font-family:  Calibri;
}
.recent-text span{
    color: rgb(12, 12, 12);
    font-size: 0.9rem;
    font-family: Times New Roman;
    font-style: italic;
}
.recent-title{
    font-family: Lucida Sans Unicode;
    font-size: large;
    color: black;
    font-weight: bold;
}
.recent-text .recent-title:hover{
    color: darkred;
    transition: all ease 0.3s;
}
.recent-text p{
    color: rgb(20, 19, 18);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.recent-text a{
    color: black;
}
.recent-text a:hover{
    color: orangered;
    transition: all ease 0.3s;
}

/* footer styling */
#footer{
    background-color: beige;
    padding: 20px 0;
    border: 10px;
    border-radius: 20px;
}
.footercontainer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footeritem1{
    margin-bottom: 20px;
}
.suggestions{
    margin-bottom: 20px;
    font-family: Lucida Sans;
    font-weight: 600;
}
.footer-list{
    list-style: none;
    padding: 0;
    font-family: Calibri;
    
}
.footer-list li{
    margin-bottom: 20px;
    background-color: rgb(10, 14, 14);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(12, 12, 12);
    display: flex;
    text-align: justify;
}
.footer-list li a{
    color: rgb(247, 241, 241);
    text-decoration: solid;
    transition: color 0.3s ease;
    text-align: justify;
}
.footer-list li a:hover{
    color: purple;
    transition: 0.3s ease;

}
.company{
    margin-bottom: 20px;

}
.hrwidth{

}
.social media{
    margin-bottom: 20px;
}
.socialmedia a{
    color: #0f0e0e;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
}
.center{

}
.copyright{

}